* {
	margin: 0;
	padding: 0;
}

.room-section {
	margin: 0 auto;
	max-width: 1024px;
	max-height: 768px;
	min-height: 600px;
	min-width: 800px;
	overflow: hidden;
	border: 1px solid #888;
}

.photo-container{
	position: absolute;
}
.room-container {
	width: 1024px;
	height: 768px;
	position: relative;
	overflow: hidden;

}

.room-container .room-image{
	width: 1024px;
	height: 768px;
}

.menu-container {
	width: 120px;
	border-right:1px solid #aaa;
	position: absolute;
	z-index: 20;
}
.menuLink-container, .menuLink-container img {
	width: 100px;
	height: 100px;
}

.image-container img {
   	cursor: move;
}
.image-container {
	position: relative;
}
.menuLink-container{
	border-bottom: 1px solid #aaa;
	padding: 10px;
}
.ui-resizable-handle {
	background: none repeat scroll 0 0 #555555;
    border: 1px solid #111111;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    height: 10px;
    width: 10px;
    position: absolute;
}

.ui-resizable-handle:hover {
	background: none repeat scroll 0 0 #757575;
    border: 2px solid #111111;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    height: 10px;
    width: 10px;
    position: absolute;

}

.close-button {
   	background: none repeat scroll 0 0 rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    color: #555555;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    font-family: helvetica;
    font-size: 1em;
    font-weight: bold;
    height: 1.5em;
    line-height: 0.6em;
    position: absolute;
    right: -25px;
    text-align: center;
    top: -25px;
    vertical-align: middle;
    width: 1.5em;
}
.close-button:hover {
   	background: none repeat scroll 0 0 rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    color: #555555;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-family: helvetica;
    font-size: 1em;
    font-weight: bold;
    height: 1.5em;
    line-height: 0.6em;
    position: absolute;
    right: -25px;
    text-align: center;
    top: -25px;
    vertical-align: middle;
    width: 1.5em;
}
div[class^='turn']{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	color: #555555;
	border-radius: 15px 15px 15px 15px;
	width: 25px;
	height: 15px;
	line-height: 0em;
	text-align: center;
	line-height: 1.1em;
	font-family: helvetica;
    font-size: 1em;
    font-weight: bold;
}

div[class^='turn']:hover{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #878787;
	color: #555555;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	border-radius: 15px 15px 15px 15px;
	width: 25px;
	height: 15px;
	line-height: 0em;
	text-align: center;
	line-height: 1.1em;
	font-family: helvetica;
    font-size: 1em;
    font-weight: bold;
}

.ui-resizable-nw {
	top:0px;
	left:0px;
	cursor: nw-resize;
}

.ui-resizable-ne {
	top: 0px;
	right: 0px;
	cursor: ne-resize;
}

.ui-resizable-se {
	bottom: 0px;
	right: 0px;
	cursor: se-resize;
}

.ui-resizable-sw{
	bottom: 0px;
	left: 0px;
	cursor: sw-resize;
}

.turnRight-button{
	top: 35%;
	right: -10px;
	position: absolute;
	cursor: pointer;
}
.turnLeft-button{
	top: 35%;
	left: -10px;
	position: absolute;
	cursor: pointer;
}

.menu-button{
	cursor: pointer;
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 15px 15px 15px 15px;
    color: #555555;
	margin-left: 130px;
	height: 1.3em;
	width: 1.3em;
	z-index: 9999;
	position: absolute;
	text-align: center;
	font-family: helvetica;
    font-size: 1em;
    font-weight: bold;
    vertical-align: middle;
    line-height: 1.3em;
}
.menu-button:hover{
	cursor: pointer;
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    color: #555555;
	margin-left: 130px;
	height: 1.3em;
	width: 1.3em;
	z-index: 9999;
	position: absolute;
	text-align: center;
	font-family: helvetica;
    font-size: 1em;
    font-weight: bold;
    vertical-align: middle;
    line-height: 1.3em;
}






