.room-container{
	width: 900px;
	height: 600px;
	border: black 1px solid;
	margin-top: 100px;
	margin-left: 100px;
	position: relative;
}


.ui-resizable-handle
{
	background: none repeat scroll 0 0 #555555;
    border: 1px solid #111111;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    height: 10px;
    width: 10px;
    position: absolute;

}

.ui-resizable-handle:hover
{
	background: none repeat scroll 0 0 #757575;
    border: 2px solid #111111;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    height: 10px;
    width: 10px;
    position: absolute;

}

.ui-resizable-nw{
	top: -5;
	left: -5;
}

.ui-resizable-ne{
	top: -5;
	right: -5;
}

.ui-resizable-se{
	bottom: -5;
	right: -5;
}

.ui-resizable-sw{
	bottom: -5;
	left: -5;
}

